### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
# Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [48]:
Player_count = purchase_data_df.value_counts("SN")
Player_count

SN
Lisosia93       5
Iral74          4
Idastidru52     4
Aina42          3
Iri67           3
               ..
Lisossala30     1
Lisossanya98    1
Lisotesta51     1
Lisovynya38     1
Adairialis76    1
Length: 576, dtype: int64

* Display the total number of players

In [49]:
# Create a Pandas Series from a raw list
data_series = pd.Series([
    "ID",
    "SN",
    "Age",
    "Gender",
    "Item ID",
    "Item Name",
    "Price"
])
print(type(data_series))
data_series

<class 'pandas.core.series.Series'>

0           ID
1           SN
2          Age
3       Gender
4      Item ID
5    Item Name
6        Price
dtype: object

In [50]:
#purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
 # Drop all rows with missing information
df = purchase_data_df.dropna(how='any')
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [72]:
#Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

In [73]:
#Total Number of Players
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [74]:
#Number of Unique Items
unique = df["Item ID"].unique()
unique

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104])

In [90]:
# The value_counts method counts unique values in a column
count = df["Item Name"].value_counts()
count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
                                                ..
Riddle, Tribute of Ended Dreams                  1
Alpha, Reach of Ending Hope                      1
Betrayer                                         1
Endbringer                                       1
Exiled Mithril Longsword                         1
Name: Item Name, Length: 179, dtype: int64

In [56]:
# The value_counts method counts unique values in a column
count = df["Item Name"].value_counts()
count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
                                                ..
Riddle, Tribute of Ended Dreams                  1
Alpha, Reach of Ending Hope                      1
Betrayer                                         1
Endbringer                                       1
Exiled Mithril Longsword                         1
Name: Item Name, Length: 179, dtype: int64

In [57]:
# Total Number of Purchases
total = df["Purchase ID"].count()
total

780

In [58]:
#Average Purchase Price
average = df["Price"].mean()
average

3.050987179487176

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [59]:
unique_items_df = df.loc[0, :]
unique_items_df

Purchase ID                                            0
SN                                               Lisim78
Age                                                   20
Gender                                              Male
Item ID                                              108
Item Name      Extraction, Quickblade Of Trembling Hands
Price                                               3.53
Name: 0, dtype: object

In [60]:
#Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
# unique_items_df = df.loc[0, :]
# unique_items_df.head()

In [78]:

unique_items = df.groupby(["Item Name"]).count().sort_values(by='SN',
                      ascending=False)
unique_items.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Price
Item Name,,,,,,
Final Critic,13,13,13,13,13,13
"Oathbreaker, Last Hope of the Breaking Storm",12,12,12,12,12,12
Persuasion,9,9,9,9,9,9
Nirvana,9,9,9,9,9,9
"Extraction, Quickblade Of Trembling Hands",9,9,9,9,9,9
Fiery Glass Crusader,9,9,9,9,9,9
"Pursuit, Cudgel of Necromancy",8,8,8,8,8,8
Brutality Ivory Warmace,8,8,8,8,8,8
Singed Scalpel,8,8,8,8,8,8
"Shadow Strike, Glory of Ending Hope",8,8,8,8,8,8

In [90]:
# The value_counts method counts unique values in a column
#purchase_df = df["Item Name","Item ID","Purchase ID","SN","Age","Gender","Price"]
#purchase_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [79]:
Gender_count = df.groupby(["Gender"]).count().sort_values(by='Age',
                      ascending=False)
Gender_count.head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Male                           652  652  652      652        652    652
Female                         113  113  113      113        113    113
Other / Non-Disclosed           15   15   15       15         15     15

In [41]:
#Percentage and Count of Male Players
Gender_count = df["Gender"].describe()
Gender_count

count      780
unique       3
top       Male
freq       652
Name: Gender, dtype: object

In [80]:
df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [ ]:
array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [82]:
 # Looking only at strikers (ST) to start
Male_Players_df = df.loc[df["Gender"] == "Male", :]
Male_Players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [84]:
Female_Players_df = df.loc[df["Gender"] == "Female", :]
Female_Players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [85]:
Undisclosed_Players_df = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
Undisclosed_Players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:
# Use Map to format all the columns
# df["avg_price"] = df["avg_Price"].map("${:.2f}".format)
# # file_df["population"] = file_df["population"].map("{:,}".format)
# # file_df["other"] = file_df["other"].map("{:.2f}".format)
# df.head()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [89]:
Players_Age = df.groupby(["Age"]).count().sort_values(by='Age',
                      ascending=False)
Players_Age.head(10)

     Purchase ID  SN  Gender  Item ID  Item Name  Price
Age
45             1   1       1        1          1      1
44             2   2       2        2          2      2
43             1   1       1        1          1      1
42             1   1       1        1          1      1
41             2   2       2        2          2      2
40             6   6       6        6          6      6
39             6   6       6        6          6      6
38             9   9       9        9          9      9
37             7   7       7        7          7      7
36             5   5       5        5          5      5

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame